---
import Section from "./Section.astro";
import Arrow from "../components/Arrow.astro";
import DarkModeToggle from "../components/reactive/DarkModeToggle.svelte";

import { userSocials, userEmail } from "../data/user-contact.json";
import { userName } from "../data/user-personal.json";
import CosmeticText from "./CosmeticText.astro";
---

<Section class="flex flex-row p-2">
  <a class="my-auto hover:brightness-125" href="/">
    <h1>{userName}</h1>
  </a>

  <!-- USER CONTACT -->
  <div class="hidden ml-auto md:flex md:flex-col">
    <div class="flex flex-row-reverse flex-wrap gap-4">
      <a class="hover:brightness-125 duration-200" href={`mailto:${userEmail}`}>
        {userEmail}
        <Arrow class="stroke-primary-foreground" rotate={-45} />
      </a>
      {
        userSocials.map((social) => (
          <a class="hover:brightness-125 duration-200" href={social.download ? `${social.link}` : social.link} download={social.download} target={social.download ? "_self" : "_blank"}>
            {social.title}
            <Arrow class="stroke-primary-foreground" rotate={-45} />
          </a>
        ))
      }
    </div>
  </div>

  <a
    class="ml-auto px-2 text-primary-foreground hover:cursor-pointer hover:brightness-125 md:hidden"
  >
    {userEmail}
    <Arrow class="stroke-primary-foreground" rotate={-45} />
  </a>

  <div class="ml-auto">
    <DarkModeToggle client:load />
  </div>
</Section>

<Section class="flex flex-row justify-end gap-8 m-auto min-h-48 text-center">
  <CosmeticText text="100% HANDMADE"/>
</Section>
